APP_NAME=MetalThursday
APP_ENV= #local ou production
APP_KEY= # gerar com "php artisan key:generate"
APP_DEBUG= #true ou false
APP_URL= # URL da aplicação

APP_LOCALE=pt
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_PT

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST= # URL da base de dados
DB_PORT=3306
DB_DATABASE= # Nome da base de dados
DB_USERNAME= # Nome do utilizador
DB_PASSWORD= # Palavra-passe

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST= # URL do servidor SMTP
MAIL_PORT=465
MAIL_USERNAME= # Nome do utilizador SMTP
MAIL_PASSWORD= # Palavra-passe SMTP
MAIL_FROM_ADDRESS= # Remetente dos e-mails
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
